@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Doodle+Shadow&family=Rubik:wght@300;500;800;900&display=swap');

body{
    scroll-behavior: smooth;
}

.shadow-around {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.top-94{
    margin-top: 94vh;
}