@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Doodle+Shadow&family=Rubik:wght@300;500;800;900&display=swap");

body {
    scroll-behavior: smooth;
}

.shadow-around {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.top-94 {
    margin-top: 94vh;
}

.shape1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . big1 big1"
        "big2 big2 . ."
        ". . big3 big3";
}

.big1 {
    grid-area: big1;
}

.big2 {
    grid-area: big2;
}

.big3 {
    grid-area: big3;
}
